<!doctype html>
<html lang="en" ng-app="advertisingAdminConsole">
<head>
    <meta charset="utf-8">
    <title>Advertising Admin Console App</title>
    <% styles.forEach( function ( file ) { %><link rel="stylesheet" type="text/css" href="<%= file %>"/><% }); %>
    <base href="/">
</head>

<body>
<div ng-if="authenticated" ng-include="'html/navbar.html'"></div>
<div role="main" class="container theme-showcase" ui-view>
</div>
<% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script><% }); %>
</body>
</html>
