<form name="applicationForm" role="form" ng-submit="createApp(application)" novalidate>
    <div class="form-group">
        <div class="col-sm-2"><label>Name</label><input class="form-control" name="appName"
                                                        ng-model="application.name"
                                                        placeholder="Name" type="text" required>
            <span class="text-danger" ng-show="applicationForm.appName.$dirty && applicationForm.appName.$invalid">
                Please enter Name!</span>
        </div>

        <div class="col-sm-2"><label>AppType</label>
            <select class="form-control" name="appType" ng-model="application.appType"
                    ng-options="appType for appType in appTypes" required></select>
            <span class="text-danger" ng-show="applicationForm.appType.$dirty && applicationForm.appType.$invalid">
                Please choose App type!</span>
        </div>

        <div class="col-sm-4">
            <pre>Content Types: <span ng-repeat="cType in contentType"> {{cType.id}} </span> </pre>
            <div ng-dropdown-multiselect="contentType"
                 options="contentTypeOptions"
                 selected-model="application.contentTypes"
                 checkboxes="true"
                 settings="contentTypeSettings">
            </div>
            <span class="text-danger"
                  ng-show="applicationForm.contentType.$dirty && applicationForm.contentType.$invalid">
                Please choose Content Types!</span>
        </div>

        <div class="col-sm-2">
            <button type="submit" ng-disabled="applicationForm.appName.$invalid || applicationForm.appType.$invalid"
                    class="btn btn-info pull-right"
                    style="margin-top: 20px">Submit
            </button>
        </div>
    </div>
</form>
