<create-app apptypes="{{appTypes}}" contenttypes="{{contentTypeOptions}}" createapp="createApplication(application)"></create-app>

<table ng-table="applicationTable" class="table table-striped" style="margin-top:80px;">
    <thead>
    <tr ng-show="model.applications.length > 0">
        <th>Name</th>
        <th>AppType</th>
        <th>ContentTypes</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="model.applications.length <= 0">
        <td colspan="5" style="text-align:center;">No users exist!!!</td>
    </tr>
    <tr ng-repeat="application in model.applications" ng-include="getTemplate(application)">
    </tr>
    </tbody>
</table>

<script type="text/ng-template" id="display">
    <td>{{application.name}}</td>
    <td>{{application.appType}}</td>
    <td><span ng-repeat="contentType in application.contentTypes"> {{contentType}} </span></td>
    <td>
        <button class="btn btn-success" ng-click="editApplication(application)">Edit</button>
    </td>
    <td>
        <button type="button" ng-click="deleteApplication(application.id, $index)"
                class="btn btn-danger" role="button">Delete
        </button>
    </td>
</script>
<script type="text/ng-template" id="edit">
    <td><input type="text" ng-model="model.selected.name"/></td>
    <td><select ng-model="model.selected.appType" ng-options="appType for appType in appTypes"></select></td>
    <td>
        <pre>Content Types: <span ng-repeat="cType in model.selected.contentTypes"> {{cType.id}} </span> </pre>
        <div ng-dropdown-multiselect="contentTypes"
             options="contentTypeOptions"
             selected-model="model.selected.contentTypes"
             checkboxes="true"
             settings="contentTypeSettings">
        </div>
    </td>
    <td>
        <button class="btn btn-success" ng-click="updateApplication($index)">Update</button>
        <button class="btn btn-danger" ng-click="reset()">Cancel</button>
    </td>
</script>