<form name="userForm" role="form" novalidate>
    <div class="form-group">
        <div class="col-sm-2"><label>Login</label><input class="form-control" name="login" ng-model="$parent.login"
                                                         placeholder="Login" type="text" required>
            <span ng-show="userForm.login.$error.required">Please enter Login!</span>
        </div>

        <div class="col-sm-3"><label>Password</label>
            <input class="form-control" name="password"
                                                            ng-model="$parent.password"
                                                            placeholder="Password" type="password" required>
            <span style="color: red" ng-show="userForm.password.$dirty && userForm.password.$invalid">
                <span ng-show="userForm.password.$error.required">Please enter Password!</span>
            </span>
        </div>
        <div class="col-sm-3"><label>Email</label><input class="form-control" name="email" ng-model="$parent.email"
                                                         placeholder="Email" type="text" required>
            <span ng-show="userForm.email.$error.required">Please enter Email!</span>
        </div>
        <div class="col-sm-2"><label>Authority</label>
            <select class="form-control" name="authority" ng-model="$parent.authority"
                    ng-options="authority for authority in authorities" required></select>
            <span ng-show="userForm.authority.$error.required">Please choose a authority!</span>
        </div>
        <div class="col-sm-2">
            <button type="button" ng-click="userForm.$valid && createUser()" class="btn btn-info pull-right"
                    style="margin-top: 20px">Submit
            </button>
        </div>
    </div>
</form>