<div class="navbar navbar-background" >
    <div class="navbar-collapse collapse">
        <div class="navbar-header">
            <h4 class="navbar-brand">Advertising Admin Console</h4>
        </div>
        <div class="nav navbar-right navbar-brand white-background" style="margin-top: 5px">
            <h4>Welcome {{userLogin}}  <a href="#/logout"><i class="glyphicon glyphicon-off"></i> Sign out</a></h4>
        </div>
    </div>
</div>