<form name="userForm" ng-submit="createUser(user)">
    <div class="form-group">
        <div class="col-sm-2"><label>Login</label><input class="form-control" name="login" ng-model="user.login"
                                                         placeholder="Login" type="text" required>
            <span class="text-danger"
                  ng-show="userForm.login.$dirty && userForm.login.$invalid">Please enter Login!</span>
        </div>

        <div class="col-sm-3"><label>Password</label><input class="form-control" name="password"
                                                            ng-model="user.password"
                                                            placeholder="Password" type="password" required>
            <span class="text-danger" ng-show="userForm.password.$dirty && userForm.password.$invalid">Please enter Password!</span>
        </div>
        <div class="col-sm-3"><label>Email</label><input class="form-control" name="email" ng-model="user.email"
                                                         placeholder="Email" type="text" required>
            <span class="text-danger"
                  ng-show="userForm.email.$dirty && userForm.email.$invalid">Please enter Email!</span>
        </div>
        <div class="col-sm-2"><label>Authority</label>
            <select class="form-control" name="authority" ng-model="user.authorities"
                    ng-options="authority for authority in authorities" required></select>
            <span class="text-danger" ng-show="userForm.authority.$dirty && userForm.authority.$invalid">Please choose a authority!</span>
        </div>

        <div class="col-sm-2">
            <button type="submit" ng-disabled="userForm.email.$invalid || userForm.login.$invalid
                || userForm.password.$invalid || userForm.authority.$invalid" class="btn btn-info pull-right"
                    style="margin-top: 20px">Submit
            </button>
        </div>
    </div>
</form>