<create-user authorities="{{authorities}}"  createuser="createUser(user)"></create-user>
<table ng-table="userTable" class="table table-striped" style="margin-top:80px;">
    <thead>
    <tr ng-show="model.users.length > 0">
        <th>Login</th>
        <th>Password</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-show="model.users.length <= 0">
        <td colspan="5" style="text-align:center;">No users exist!!!</td>
    </tr>
    <tr ng-repeat="user in model.users" ng-include="getTemplate(user)">
    </tr>
    </tbody>
</table>

<script type="text/ng-template" id="display">
    <td>{{user.login}}</td>
    <td>**************</td>
    <td>{{user.email}}</td>
    <td><span ng-repeat="authority in user.authorities"> {{authority.name}} </span></td>
    <td>
        <button class="btn btn-success" ng-click="editUser(user)">Edit</button>
    </td>
    <td>
        <button type="button" ng-click="deleteUser(user.id, user.authorities[0].name, $index)"
                class="btn btn-danger" role="button">Delete
        </button>
    </td>
</script>
<script type="text/ng-template" id="edit">
    <td><input type="text" ng-model="model.selected.login"/></td>
    <td><input type="text" ng-model="model.selected.email"/></td>
    <td><select ng-model="model.selected.authorities[0].name" ng-options="authority for authority in authorities"
                required></select></td>
    <td>
        <button class="btn btn-success" ng-click="updateUser($index)">Update</button>
        <button class="btn btn-danger" ng-click="reset()">Cancel</button>
    </td>
</script>