.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
	cursor:pointer;
}

h5, h4, p ,a {
    display: inline;
}

.panel-body {
    padding:15px 0;
}

.vacancy-status-cv-sent {
    background-color: blue;
}

.vacancy-status-no-response {
    background-color: #8a6d3b;
}

.vacancy-status-not-applicable {
    background-color: #38ffc7;
}

.vacancy-status-in-progress {
    background-color: yellow;
}

.vacancy-status-fail {
    background-color: red;
}

.vacancy-status-pass{
    background-color: green;
}

.vacancy-status-closed{
    background-color: grey;
}

.input-color {
    position: relative;
}
.input-color input {
    padding-left: 40px;
}
.input-color .color-box {
    width: 40px;
    height: 20px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 5px;
    top: 5px;
}

.well-heading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
}

.well-heading h1 {
    color: #FFF;
    position: absolute;
    bottom: 10px;
    padding-left: 35px;
}

.well-primary {
    background-color: #009688
}

.well-body {
    margin: 150px 30px 30px 30px;
}

.bg-extended {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ddd;
    min-width: 100%;
    height: 100%;
    display: table;
}

.navbar-background{
    background-color: #009688;
}

.white-background h4 a{
    color: #FFF;
}